{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


    {%if title%}

        <title> {{title}} </title>

    {%else%}

        <title> Web Portfolio | Erick Mutua </title>

  {%endif%}


    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">

    {% endblock %}

</head>

<body>

{% block body %}




        {% block content %}

            {{ block.super }}


        {%endblock%}


    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>

        <script src="{% static 'js/anime.js' %}"> </script>

        <script src="{% static 'js/scroll.js' %}"> </script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        {% bootstrap_javascript %}

    {% endblock %}

{% endblock %}

</body>

</html>